{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <ul>
        <h1>Portfolio</h1>

        {% for row in transaction%}
            {% if row["shares"] > 0 %}
                <li> Company: {{row["symbol"]}} -- Shares: {{row["shares"]}} -- Current Price: ${{row["price"]}} </li>
            {% endif%}
        {% endfor %}
        <li>Total Value of Holding: ${{totalHoldings}}</li>
        <li>Available Cash Balance: ${{balance}}</li>
    </ul>
{% endblock %}
